%h2.text-center.mb-3  Пользователи 
.row.profile-item
  - @profiles.each do |profile|
    .col-md-12.profile-item
      .row
        .col-md-2
          = image_tag profile.image.url(:large), class: "rounded float-left thumb-profile-img" if profile.image?
        .col-md-10
          %table.table
            %thead
              %tr
                %th Имя
                %th Фамилия
                -if current_user.show_profile_including_wage? or current_user.id == profile.user_id
                  %th Зарплата
                %th Email
            %tbody
              %tr
                %td= profile.first_name
                %td= profile.last_name
                -if current_user.show_profile_including_wage? or current_user.id == profile.user_id
                  %td= profile.wage
                %td= profile.email

    .container-fluid.text-right
      -if policy(profile).show?         
        = link_to 'Посмотреть', profile, class: "btn btn-primary btn btn-sm"
      -if policy(profile).edit?
        = link_to 'Редактировать', edit_profile_path(profile), class: "btn btn-primary btn btn-sm"
      %hr.my-4    


%br

