
.row.mt-4
	.col-md-2
	.col-md-8.profile-item
		.row
			.col-md-5
				.mt-1
					= image_tag @profile.image.url(:large), class: "rounded float-left mr-2 mb-4 large-profile-img" if @profile.image?
				.text-center.mt-3
					%h4.border-bottom.mb-3 Мои задачи
					= link_to 'Все задания', my_tasks_profile_path, class: "btn btn-link "
				= render 'shared/tasks'
			.col-md-7.border-left
				= link_to 'Редактировать профиль', edit_profile_path(@profile), class: "btn btn-outline-success float-right"
				- if policy(current_user).edit?
					= link_to 'добавить роль', edit_user_path(@profile.user), class: "btn btn-outline-success "
				%br
				%br
				%p.border-bottom
					%b Имя:
					= @profile.first_name
				%p.border-bottom
					%b Фамилия:
					= @profile.last_name
				-if current_user.show_profile_including_wage? or current_user.id == @profile.user_id	
					%p.border-bottom
						%b Зарплата:
						= @profile.wage
				%p.border-bottom 
					%b Депортамент:
					= @profile.department.name unless @profile.department.blank?
				%p.border-bottom 
					%b Должности:
					- @profile.user.roles.each do |role|
						= role.name
				%p.border-bottom
					%b Телефон
					= @profile.phone
				- unless @profile.skill.nil?	
					%p
						%b Умения
						= @profile.skill.html_safe

	.col-md-2

