.row
  .col-md-2
  .col-md-8.profile-item
    = form_for [@team, @team.tasks.build] do |f|
      - if @task.errors.any?
        #error_explanation
          %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
          %ul
            - @task.errors.full_messages.each do |message|
              %li= message

      .form-group
        = f.label "Название:"
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label "Описание:"
        = f.text_area :description, class: 'form-control text-area'
      .form-group
        =  "Назначить работника"
        - @team.profiles.each do |profile|
          = f.radio_button :profile_id , profile.id
          = f.label profile.first_name
      .actions
        .text-right
          = f.submit 'Сохранить', class: "btn btn-success"
  .col-md-2



          
          