.row.pt-4
	.col-md-2
	.col-md-8.profile-item
		= link_to '<i class="material-icons">keyboard_backspace</i>'.html_safe, team_path(@team)
		= link_to "Принять", performed_team_task_path, class: "float-right" if @task.status == 0 or @task.status == 3
		= link_to "Выполнить", done_team_task_path, class: "float-right" if @task.status == 1
		-if policy(@task).remake? 
			= link_to "Неправильно", remake_team_task_path, class: "float-right" if @task.status == 2
		%div{class: "rounded alert alert-#{status_color(@task)}"}
			%span
				%b Cтатус:
				= @task.status_label
		%p.text-center
			= @task.name
		%p
			= @task.description.html_safe
		- if @task.profile.image?
			%span{"data-toggle" => "tooltip","data-placement" =>"top", "title" => "#{@task.profile.first_name} #{@task.profile.last_name}"}
				= image_tag @task.profile.image.url(:large), class: "rounded mr-2 thumb-profile-img-team rounded-circle" if @task.profile.image?
		- else 
			%span 
				= @task.profile.first_name 
				= @task.profile.last_name
		= render 'shared/comment_form'
		= render  "shared/comment" 	
	.col-md-2
