.row
  .col-md-3
  .col-md-6.profile-item
    = form_for @department do |f|
      - if @department.errors.any?
        #error_explanation
          %h2= "#{pluralize(@department.errors.count, "error")} prohibited this department from being saved:"
          %ul
            - @department.errors.full_messages.each do |message|
              %li= message

      .form-group
        = f.label 'Название'
        = f.text_field :name, class: 'form-control'
      .actions
        .text-right
          = f.submit 'Сохранить', class: "btn btn-success"
  .col-md-3      
